%h3#h3_2012_0429 2012-04-29 Rails Prerequesite: Effective Editor (Emacs)

%p When I develop Java software, I use and IDE.  When I write Ruby scripts or build Rails applications, I use an editor named Emacs.
I know only one Rails developer who uses an IDE.  All the other Rails developers I know, use an editor (TextMate usually).
For people starting out I suggest Emacs over TextMate for the reasons listed below:

%ul.ul_type_disc
  %li Emacs is free; TextMate is not
  %li Emacs runs on Linux, Mac, Windows; TextMate runs on Mac
  %li Emacs allows faster "Mental Context Switching" than TextMate, in my opinion
  %li Emacs has an excellent built-in tutorial
