%h3#h3_2012_0430 2012-04-30 Rails Prerequesite: Effective Editor (Vim)

%h3 Topics covered in my Vim Class
.bash_class
  %ul
    %li Introduction: Vi and Vim
    %li
      Why do I like Vim?
      %ul
        %li Vim is free; some editors are not.  For example, TextMate is not free.
        %li Vim runs on Linux, Mac, and Windows.
        %li On Linux and Mac, Vim is bundled with the OS; I don't need to install it.
        %li Vim has an excellent "built-in" tutorial.
    %li
      Why do I not like Vim?
      %ul
        %li Vim has a "command" mode which entices me to think it is in "insert" mode
    %li
      Notes about keyboard keys:
      %ul
        %li Ctrl, When you press this, do hold it down.
        %li Esc, When you press this, do it for an instant. Do not hold it down.

    %li
      Vim command mode
      %ul
        %li I enter command mode by pressing Esc.
        %li
          If I'm already in command mode but I'm not sure that I am, I ensure I'm in command mode by pressing Esc.
          I encounter no harm if I press Esc 5 times in a row.
        %li
          I refer to this command mode as "command mode 1".
          I can go to another command mode "command mode 2", by pressing the colon key.

