<h3 id='h3_2012_0422'>2012-04-22 Struggles with Active Scaffold and Rails 3.2.3</h3>

I used Active Scaffold on a Rails 1.2.x project back during the summer of 2007.

I liked it.

So, now almost 5 years later, I need an administrative UI for an App I'm working on.

I went to 
<a href='http://ActiveScaffold.com' target='a'>
http://ActiveScaffold.com 
</a>
to see what's up.

<p />
<p />
I discovered the site was down.

I looked for them on http://github.com and found them here:

<a href='http://github.com/activescaffold/active_scaffold' target='h'>
http://github.com/activescaffold/active_scaffold
</a>
The latest activity was 6 days ago which is a good sign.

I checked the Issues link for recent chatter:

<a href='http://github.com/activescaffold/active_scaffold/issues' target='h'>
http://github.com/activescaffold/active_scaffold/issues
</a>

<p />
<p />
They have only 16 open issues which seems okay.

Issue 157 complains about the site being down and that issue is 5 days old.

I followed the instructions in the Github Readme to install ActiveScaffold.

I bumped into an issue when I tried to compile my assets:

<pre>
/home/oracle/.rvm/rubies/ruby-1.9.2-p318/bin/ruby 
  bin/rake assets:precompile:all 
  RAILS_ENV=production 
  RAILS_GROUPS=assets

rake aborted!
translation missing: en.time.formats.picker
  (in /home/oracle/.rvm/gems/ruby-1.9.2-p318/gems/
    active_scaffold-3.2.3/
    app/assets/javascripts/jquery/date_picker_bridge.js.erb)
</pre>


So I placed this syntax in config/locales/en.yml

<pre>
en:
  time:
    formats:
      picker: "%a, %d %b %Y %H:%M:%S"
</pre>
The above syntax is an exact duplicate of the syntax I found in the gem:
<p />
<p />
gems/active_scaffold-3.2.3/config/locales/en.yml

<p />
<p />
Then I tried rake again.

I got the same problem.

<p />
<p />
I found some chatter about this issue in google groups but nothing seemed like an obvious fix.

To me this smells like a bug.

I wanted to show Active Scaffold to a client but I want it to install smoothly before I do that.

<p />
<p />
Something like this should be a two step install:
<ul class='ul_type_disc'>
  <li />bundle install
  <li />rails g active_scaffold:install
</ul>

Then, I should be able to start using it.


