%h3#h3_2012_0428 2012-04-28 Rails Class Topics
%p
  I've taught Rails to a wide variety of people since 2006.
  This post is a mixture of a blog-post and a tech-tip.
  It's a bit more technical than opinionated so I placed this post in the "Tech Tips" section of this site.

%p
  When I teach Rails I prefer to explore the list of topics below:

%ul
  %li Windows is bad; Mac is pretty good but Ubuntu Linux is excellent
  %li Installation of Ruby
  %li You don't need to use RVM but you should know how to use it
  %li RVM alternatives
  %li Optional: Installation of JRuby
  %li Installation of RubyGems
  %li Interacting with "System Gems"
  %li Install Bundler
  %li Interact with Bundler
  %li Git: You don't need to use Git but it is useful
  %li Use RubyGems to install Rails
  %li Database choices: SQLite best for learning else MySQL or Postgres
  %li Use Rails to create a new application
  %li Shell commands related to Rails:
    %ul
      %li rails
      %li rake
      %li gem
      %li bundle
  %li Opinion: Use "Inside/Out" thinking to learn Rails
  %li Opinion: Use "Outside/In" thinking to practice Rails
  %li bin/rake db:create, creates a "database"
  %li bin/rails generate migration, create a database table script
  %li bin/rake: db:migrate, creates a database table from the script
  %li bin/rails generate model, create software to talk with database
  %li bin/rails console, use this to learn Active Record API











