%h3#h3_2012_0429 2012-04-29 Rails Prerequesite: Effective Editor (Emacs)

%p
  I teach an Emacs class.  This post is a list of topics I cover in my Emacs class.

%h3 Emacs Topics Class
.bash_class
  %ul
    %li Introduction: When I write Ruby scripts or build Rails applications, I use an editor named Emacs.
    %li Why Emacs?
      %ul
        %li Emacs is free; some editors are not.  For example, TextMate is not free.
        %li Emacs runs on Linux, Mac, Windows; TextMate, for example, runs on Mac only.
        %li Emacs allows faster "Mental Context Switching" than other editors, in my opinion.
        %li Emacs has an excellent "built-in" tutorial.
