/ views/tech_tips/index.html.haml

= render 'tech_tips/jquery2move_tips'

%h3 Technical Tips

%img(src="/assets/hackternoon_home.jpeg" alt="hackternoon.com")
%br/

= render 'tech_tips/tech_tips2012_0329_heroku_pgdump'

= render 'tech_tips/tech_tips2012_0318_jqueryui'
