<% if user_signed_in? %>
  <li>Logged in as: 
    <%= link_to(current_user.email, show_user_path(:user_id => @current_user.user_id)) %>
  </li>
<% else %>
  <li>
  <%= link_to('Register', new_user_registration_path)  %>
  </li>
<% end %>
