Hello:
%br/
= @invitation.user.email
%br/
You have been invited to collaborate on a project:
%br/
= link_to project_url(:id => @invitation.project_id), project_url(:id => @invitation.project_id)
%br/
