%h2 A Hackternooner's Blog
%img(src="/assets/danbikle.jpeg")
#accordion
  %h3#h3_2012_03
    %a(href='#h3_2012_03')2012-03-18 Hackternoon.com replaces a pad of paper
  %div
    I started the Hackternoon Meetup at Hacker Dojo in Mountain View California on July 19, 2011:
    %br/
    %br/
    %a(href="http://meetup.com/Hackternoon" target="m")
      Meetup.com/Hackternoon
    %br/
    %br/
    I organized the Hackternoon projects using a simple pad of paper with three columns.
    %br/
    %br/
    Most Sundays a group of Hackternooners would show up and gravitate towards the pad of paper where they could exchange 3 pieces of information:
    %br/
    %br/
    %ul
      %li - Name and/or E-Mail Address
      %li - What they know or are willing to share
      %li - What they want to learn from another Hackternooner

    Then, I would try to optimally create pairs of Hackternooners who would then use paired programming and shared learning to build and deploy a small project in a "Hackternoon".

    %br/
    %br/
    You are now looking at the website which replaces the pad of paper.
    %br/
    %br/
    The primary use-case of the site is similar to how we used the pad of paper:
    %br/
    %br/

    %ul
      %li - After one time registration, you login
      %li - You create a project
      %li - You add tags and a description to the project
      %li - You invite 1 or more Hackternooners to work with you on the project

    A secondary use-case is listed below:
    %br/
    %br/

    %ul
      %li - After one time registration, you login
      %li - You look at other projects
      %li - If you find one you like, you ask the owner to invite you to collaborate.

    The site has powerful features over the pad of paper:
    %br/
    %br/

    %ul
      %li - You don't need to attend the Meetup to gain value from it
      %li - Pair-building could happen purely over the net
      %li - The pad of paper is wiped clean each week; the site is permanent







