%h1 Contact

%a(href='https:/gmail.com' target='l')Gmail:
Dan@Hackternoon.com

%br/
%br/
Also you may meet Dan in-person at a Hackternoon Meetup:

%br/
%br/
%a(href="http://Meetup.com/Hackternoon" target="m")http://Meetup.com/Hackternoon

%br/
%br/
