%h2 About
%img(src="/assets/hackternoon_home.jpeg" alt="hackternoon.com")

%br/
%br/

Hello world.

%br/
%br/
Any seriously good software developer knows how to be effective in a distributed team.

%br/
%br/
In the past 20 years, the web has radically changed how software is written.

%br/
%br/
If you just know how to code by yourself, not with others, you are at a serious disadvantage.

%br/
%br/
The web gives you the ability to connect your mind with other minds in away that leads to a powerful collective intelligence.

%br/
%br/
Hackternoon.com helps you strengthen your skill at collaborative coding over the web.

%br/
%br/
This general recipe seems to work well:

%br/
%br/
%ul
  %li -Use Github.com to store your software and all of its daily changes.
  %li -Use Skype, or Google Voice for synchronous communication with each other.
  %li -Use E-Mail and Github.com for asynchronous communication with each other.
  %li -Use TeamViewer for screen-sharing when you simultaneously focus two minds on one piece of code.

%br/
So, what is the purpose of Hackternoon.com?

%br/
%br/
Hackternoon.com helps you find people who want to practice collaborative coding with you.

%br/
%br/
Finding a coding partner is not easy.
Without Hackternoon.com how would you find such a person?
%br/
%br/
%ul
  %li -Put an ad on Craigslist.com?
  %li -Send messages to accounts you see on Github, LinkedIn, and FB?
  %li -Attend Meetups with a pocket full of biz-cards?

%br/
I'm convinced that Hackternoon.com is the best way to find a coding partner.

%br/
%br/
Even with the help of Hackternoon.com,
attracting good software talent is a difficult task; it requires time and effort.

%br/
%br/
Hackternoon.com has some similarities to a dating site.

%br/
%br/
As a developer, you present yourself in a way which attracts interest from programming talent.

%br/
%br/
The key attractant is the list of projects you attach to your profile.

%br/
%br/
Often, light-weight projects tasked with teaching you some technology will attract interest.

%br/
%br/
An example use-case could be that you want to learn how to deploy web sites which run on top of JRuby, Rails, MongoDB, and Heroku.

%br/
%br/
So, on Hackternoon.com, create a simple project which describes a site which does something simple like collect stories and photos.

%br/
%br/
Give the project an interesting name like Mongo-Photo-Stories or JRube 4the Newb.

%br/
%br/
Then, add some tech-tags (you are only allowed 3) to the project: JRuby, Rails, MongoDB

%br/
%br/
And, write something interesting or amusing in the project description.

%br/
%br/
Next, assuming you know git, create a repository on github.com and git-push some code into it.

%br/
%br/
If you don't know git, just create a simple project to drive your learning of git.

%br/
%br/
After you get good at git, advertise that you are looking for
developers who know one or more of JRuby, Rails, MongoDB, and Heroku.

%br/
%br/
Perhaps you will find someone in Dallas and another person in Paris who wants to help because they also want to learn that particular software mix.

%br/
%br/
At that point, you collaborate over Skype, TeamViewer, and Github to quickly build the stories_photo site.

%br/
%br/
After the site is deployed, you move on to another project to learn something else interesting, Machine-Learning perhaps.

%br/
%br/
At that point it will be easier to attract other developers because they will see your code on Github and they
will correctly assume two things about you:

%br/
%br/
%ul
  %li - You are productive.
  %li - You are knowledgeable.

%br/
If you have questions,
%br/
E-me, I am Dan the Hackternooner Founder
%br/
%br/
Dan@Hackternoon.com
%br/
%img(src="/assets/danbikle.jpeg")
%br/

