%h1 About
%img(src="/assets/hackternoon_home.jpeg" alt="hackternoon.com")

%br/
%br/
Hackternoon.com is for software developers.

%br/
%br/
You use Hackternoon.com to attract productive developers to collaborate with you on your software projects. 

%br/
%br/
Attracting good software talent is a difficult task; it requires time and effort.

%br/
%br/
Hackternoon.com has some similarities to a dating site.

%br/
%br/
As a developer, you present yourself in a way which attracts interest from programming talent.

%br/
%br/
In a dating site, your profile is very important.

%br/
%br/
At Hackternoon.com, your profile needs to be compelling but the projects you attach to your profile are probably more important.

%br/
%br/
Often, light-weight projects tasked with teaching you some technology will attract interest.

%br/
%br/
Other developers will see it as an easy way to accomplish a straight-forward task which helps another developer.
That is assuming of course they know, or want to learn, the technology listed in your project.

%br/
%br/
An example use case could be that you want to learn how to deploy web sites which run on top of JRuby, Rails, MongoDB, and Heroku.

%br/
%br/
So, on Hackternoon.com, create a simple project which describes a site which does something simple like collect stories and photos.

%br/
%br/
Give the project an interesting name like Mongo-Photo-Stories or JRube 4the Newb.

%br/
%br/
Then, add some tech-tags (you are only allowed 3) to the project: JRuby, Rails, MongoDB

%br/
%br/
And, write something interesting or amusing in the project description.

%br/
%br/
Next, assuming you know git, create a repository on github.com and git-push some code into it.

%br/
%br/
If you don't know git, just create a simple project to drive your learning of git.
If you want to learn git from others rather than alone, invite people to a simple git-learning-project.

%br/
%br/
Both git and github.com are designed to help you mix your software with software written by others.

%br/
%br/
After you get good at git,
then, via Meetup, Twitter, FB, and Craigslist, advertise that you are
looking for developers who know one or more of JRuby, Rails, MongoDB,
and Heroku.

%br/
%br/
Perhaps you will find someone in Dallas and another person in Paris who wants to help because they also want to learn that particular software mix.

%br/
%br/
At that point, you collaborate over skype, google+, and github.com to quickly build the stories_photo site.

%br/
%br/
After the site is deployed, you move on to another project to learn something else interesting, Machine-Learning perhaps.

%br/
%br/
At that point it will be easier to attract other developers because they will see your code on github.com and they
will correctly assume two things about you:

%br/
%br/
%ul
  %li You are productive.
  %li You are knowledgeable.
