%img(src="/assets/hackternoon_home.jpeg" alt="hackternoon.com")
%br/
%br/

If you write software, use Hackternoon.com to attract other developers to collaborate with you on your software projects.
%br/
%br/
Also Hackternoon.com is perfect if you want to learn more about a specific mix of software types.
%br/
%br/
An example use case could be that you want to learn how to deploy web sites which run on top of JRuby, Rails, MongoDB, and Heroku.

%br/
%br/
So, on Hackternoon.com, create a simple project which describes a site which does something simple like collect stories and photos.

%br/
%br/
Then, add some tags to the project.  

%br/
%br/
Next, assuming you know git, create a repository on github.com. 

%br/
%br/
If you don't know git, just create a simple project to drive your learning of git.
If you want to learn git from others rather than alone, invite people to your git-learning-project.

%br/
%br/
Both git and github.com are designed to help you mix your software with software written by others.

%br/
%br/
After you get good at git,
then, via Twitter, FB, and Craigslist, advertise that you are looking for developers who know one or more of JRuby, Rails, MongoDB, and Heroku.

%br/
%br/
Perhaps you will find someone in Dallas and another person in Paris who wants to help because they also want to learn that particular software mix.

%br/
%br/
At that point, you collaborate over skype, google+, and github.com to quickly build the stories_photo site.

%br/
%br/
After the site is deployed, you move on to another project to learn something else interesting, Machine-Learning perhaps.


%br/
%br/
