%h2 Hello World
%img(src="/assets/hackternoon_home.jpeg" alt="hackternoon.com")

%p My name is Dan and I built Hackternoon.com from the ground up using free time and open-source software.

%p
  %strong Hackternoon.com is like a dating site.

%p 
  But instead of helping you find a "date", I help you find a Software Developer.
  If you think finding a wonderful romantic partner is difficult, wait until you go on a quest for a good programmer.
  I designed this site to aid your search.

%p
  %strong I offer you steps to follow:

%ul.ul_type_disc
  %li 
    You
    = link_to('Register', sslhost + new_user_registration_path)
  %li
    You edit your profile:
    %ul.ul_type_circle
      %li Give a name
      %li Give a URL to your photo
      %li Give your location
      %li If you are awesome on Twitter, give your twitter id
  %li 
    Create a project:
    %ul.ul_type_circle
      %li Project Name
      %li Description
      %li Github.com URL
      %li 3 Tech tags (ex: iPhone, HTML5, JavaScript)
      %li 3 Biz tags (ex: News Aggregator, Tech Blog, Yelp Clone)

%p 
  %strong Then ask,
  "Is my profile combined with my project attractive to the type of Developers I want to attract ?"


%p The following attributes are attractive to many types of Developers:

%ul.ul_type_disc
  %li Your personality is easy to deal with
  %li Location is unimportant (They can work with you over Skype)
  %li You have money
  %li 
    If you lack money, you have Software Skills to trade:
    %br/
    Ex: You know Rails, Postgres, and Heroku; They know iOS. 
  %li You are awesome on Twitter and/or Github
  %li The project(s) is interesting
  %li The project(s) is easy
  %li
    The project(s) is collaborative:
    %br/
    Ex: Let's learn Android together to build a mobile game.

%p
  After your profile and project(s) are attractive, you go to the next step.
  You advertise that you want a Software Developer to work with you on your project.
  In your advertisements, you point to your project(s) at Hackternoon.com

%p
  For example, here is one of my projects:

%p
  %a(href="http://hackternoon.com/projects/1") Build Hackternoon.com Now!

%p
  %strong Where do you advertise?

%p
  One answer is to spend a lot of time on Google to find where software developers congregate.
  Then register at those sites and then contact them with your pitch.
  Another place to start is a
  %a(href="http://Craigslist.com" target="c")Craigslist.com 
  sub-domain for a large city holding many Software Developers.

%p I list below Craigslist URLs for some of the largest cities in the USA:
%ul.ul_type_disc
  %li
    %a(href="http://newyork.craigslist.org/" target="c")           http://newyork.craigslist.org/			 
  %li
    %a(href="http://losangeles.craigslist.org/" target="c")	     http://losangeles.craigslist.org/		 
  %li
    %a(href="http://chicago.craigslist.org/" target="c")	     http://chicago.craigslist.org/			 
  %li
    %a(href="http://sfbay.craigslist.org/" target="c")	     http://sfbay.craigslist.org/			 
  %li
    %a(href="http://houston.craigslist.org/" target="c")	     http://houston.craigslist.org/			 
  %li
    %a(href="http://philadelphia.craigslist.org/" target="c")	     http://philadelphia.craigslist.org/		 
  %li
    %a(href="http://dallas.craigslist.org/" target="c")	     http://dallas.craigslist.org/			 
  %li
    %a(href="http://phoenix.craigslist.org/" target="c")	     http://phoenix.craigslist.org/			 
  %li
    %a(href="http://sanantonio.craigslist.org/" target="c")	     http://sanantonio.craigslist.org/		 
  %li
    %a(href="http://sandiego.craigslist.org/" target="c")	     http://sandiego.craigslist.org/			 
  %li
    %a(href="http://boston.craigslist.org/" target="c")	     http://boston.craigslist.org/			 
  %li
    %a(href="http://baltimore.craigslist.org/" target="c")	     http://baltimore.craigslist.org/		 
  %li
    %a(href="http://washingtondc.craigslist.org/" target="c")	     http://washingtondc.craigslist.org/		 
  %li
    %a(href="http://seattle.craigslist.org/" target="c")	     http://seattle.craigslist.org/			 
  %li
    %a(href="http://austin.craigslist.org/" target="c")	     http://austin.craigslist.org/			 
  %li
    %a(href="http://denver.craigslist.org/" target="c")	     http://denver.craigslist.org/			 
  %li
    %a(href="http://jacksonville.craigslist.org/" target="c")	     http://jacksonville.craigslist.org/		 
  %li
    %a(href="http://indianapolis.craigslist.org/" target="c")	     http://indianapolis.craigslist.org/		 
  %li
    %a(href="http://columbus.craigslist.org/" target="c")	     http://columbus.craigslist.org/			 
  %li
    %a(href="http://charlotte.craigslist.org/" target="c")	     http://charlotte.craigslist.org/		 
  %li
    %a(href="http://detroit.craigslist.org/" target="c")	     http://detroit.craigslist.org/			 
  %li
    %a(href="http://elpaso.craigslist.org/" target="c")	     http://elpaso.craigslist.org/			 
  %li
    %a(href="http://memphis.craigslist.org/" target="c")	     http://memphis.craigslist.org/			 
  %li
    %a(href="http://miami.craigslist.org/" target="c")	     http://miami.craigslist.org/			 
  %li
    %a(href="http://tampa.craigslist.org/" target="c")	     http://tampa.craigslist.org/			 
  %li
    %a(href="http://atlanta.craigslist.org/" target="c")	     http://atlanta.craigslist.org/                   


Craigslist is not that big outside of the USA.
But, outside of the USA I might think about these sites:

%p/

%ul.ul_type_disc
  %li
    %a(href="http://toronto.craigslist.ca/" target="c")              http://toronto.craigslist.ca/		 
  %li
    %a(href="http://london.craigslist.co.uk/" target="c")	       http://london.craigslist.co.uk/		 
  %li
    %a(href="http://paris.en.craigslist.fr/" target="c")	       http://paris.en.craigslist.fr/		 
  %li
    %a(href="http://frankfurt.en.craigslist.de/" target="c")	       http://frankfurt.en.craigslist.de/	 
  %li
    %a(href="http://berlin.en.craigslist.de/" target="c")	       http://berlin.en.craigslist.de/		 
  %li
    %a(href="http://mumbai.craigslist.co.in/" target="c")	       http://mumbai.craigslist.co.in/
  %li
    %a(href="http://manila.craigslist.com.ph/" target="c")	       http://manila.craigslist.com.ph/	 
  %li
    %a(href="http://mexicocity.en.craigslist.com.mx/" target="c")    http://mexicocity.en.craigslist.com.mx/	 
  %li
    %a(href="http://buenosaires.en.craigslist.org/" target="c")      http://buenosaires.en.craigslist.org/	 
  %li
    %a(href="http://hongkong.craigslist.hk/" target="c")	       http://hongkong.craigslist.hk/		 
  %li
    %a(href="http://tokyo.craigslist.jp/" target="c")		       http://tokyo.craigslist.jp/              

I looked at Wikipedia for a list of large cities.
Outside USA, I see this list.

%p/

%ul.ul_type_disc
  %li Russia: Moscow
  %li China: Beijing, Guangzhou, Shanghai, Shenzhen, Tianjin
  %li Brasil: São Paulo, Rio de Janeiro
  %li Argentina: Buenos Aires
  %li Columbia: Bogotá
  %li India: Kolkata, Mumbai
  %li Bangladesh: Dhaka
  %li Pakistan: Karachi
  %li UK: London
  %li Japan: Osaka, Tokyo
  %li Mexico City
  %li Philippines: Manila
  %li France: Paris
  %li Poland: Warsaw
  %li Peru: Lima
  %li Turkey: Istanbul
  %li Egypt: Cairo
  %li Nigeria: Lagos

A bit of research might reveal where Software Developers congragate in the above large cities.
 
If you do this research, please send me any results which you are willing to share.

Another list I am interested in is the location-list of "Excellent" Developers.

Perhaps a place to start this research would be Wikipedia:

%p/

%ul.ul_type_disc
  %li
    %a(href="http://en.wikipedia.org/wiki/ACM_International_Collegiate_Programming_Contest" target="c")
      http://en.wikipedia.org/wiki/ACM_International_Collegiate_Programming_Contest
  %li
    %a(href="http://en.wikipedia.org/wiki/Category:Programming_contests" target="c")
      http://en.wikipedia.org/wiki/Category:Programming_contests


%hr

If you have questions,
%br
E-me, I am Dan the Hackternooner Founder
%p
Dan@Hackternoon.com
%br
%img(src="/assets/danbikle.jpeg")

%hr/
