%h2 Hello World
%img(src="/assets/hackternoon_home.jpeg" alt="hackternoon.com")

%p Any seriously good software developer knows how to be effective in a distributed team. 
%p In the past 20 years, the web has radically changed how software is written.If you just know how to code by yourself, not with others, you are at a serious disadvantage. The web gives you the ability to connect your mind with other minds in away that leads to a powerful collective intelligence.

%p Hackternoon.com helps you strengthen your skill at collaborative coding over the web.

%p
  %strong This general recipe seems to work well:

%ul
  %li -Use Github.com to store your software and all of its daily changes.
  %li -Use Skype, or Google Voice for synchronous communication with each other.
  %li -Use E-Mail and Github.com for asynchronous communication with each other.
  %li -Use TeamViewer for screen-sharing when you simultaneously focus two minds on one piece of code.

%h3 So, what is the purpose of Hackternoon.com?

%p Hackternoon.com helps you find people who want to practice collaborative coding with you.

%p Finding a coding partner is not easy. Without Hackternoon.com how would you find such a person?

%ul
  %li -Put an ad on Craigslist.com?
  %li -Send messages to accounts you see on Github, LinkedIn, and FB?
  %li -Attend Meetups with a pocket full of biz-cards?

%p I'm convinced that Hackternoon.com is the best way to find a coding partner. Even with the help of Hackternoon.com, attracting good software talent is a difficult task; it requires time and effort.

%p Hackternoon.com has some similarities to a dating site.

%p As a developer, you present yourself in a way which attracts interest from programming talent. The key attractant is the list of projects you attach to your profile. Often, light-weight projects tasked with teaching you some technology will attract interest.

%p An example use-case could be that you want to learn how to deploy web sites which run on top of JRuby, Rails, MongoDB, and Heroku.

%p So, on Hackternoon.com, create a simple project which describes a site which does something simple like collect stories and photos.

%ol 
  %li Give the project an interesting name like Mongo-Photo-Stories or JRube 4the Newb.
  %li Add some tech-tags (you are only allowed 3) to the project: JRuby, Rails, MongoDB
  %li Write something interesting or amusing in the project description.
  %li If you know git, create a repository on github.com and git-push some code into it.
  %li If you don't know git, just create a simple project to drive your learning of git.
  %li After you get good at git, advertise that you are looking for developers who know one or more of JRuby, Rails, MongoDB, and Heroku.
  %li Perhaps you will find someone in Dallas and another person in Paris who wants to help because they also want to learn that particular software mix.
  %li At that point, you collaborate over Skype, TeamViewer, and Github to quickly build that Mongo-Photo-Stores site.
  %li After the site is deployed, you move on to another project to learn something else interesting, Machine-Learning perhaps.

%p At that point it will be easier to attract other developers because they will see your code on Github and they will correctly assume two things about you:

%ul
  %strong
    %li - You are productive.
    %li - You are knowledgeable.

%hr

If you have questions,
%br
E-me, I am Dan the Hackternooner Founder
%p
Dan@Hackternoon.com
%br
%img(src="/assets/danbikle.jpeg")
