%h2 Terms of Service

I built Hackternoon.com to help people learn and implement technology so they have more control over their lives.

%br/
%br/
Also you could use Hackternoon.com to meet people and make new friends.

%br/
%br/
It is my intent that Hackternoon.com help you and thus do good rather than evil.

%br/
%br/
I ask you to use Hackternoon.com to do good rather than evil.

%br/
%br/
E-me if you have questions:

%br/
%br/
Dan@Hackternoon.com
%br/
%img(src="/assets/danbikle.jpeg")
