%h2 The UX-Design Behind Hackternoon.com

My UX-design is driven by my dissatisfaction with the UX-design behind most websites.
%br/
%br/

%h3 Browser Dependencies

%img(src="/assets/browsers.jpg")

%br/
%br/
Any website that tells me I need to use a specific browser is evil.
And, evil websites should be shunned.
%br/
%br/
Although I declare Hackternoon.com to be an HTML5 website, my intention is to have it behave well when rendered by any popular browser.  Also I don't intend for you to depend on any browser plugins.
%br/
%br/

%h3 Links

Next, I rant about hypertext-links.

I use Yahoo.com home-page as an example:

%br/
%br/
%a(href="http://yahoo.com" target="y")http://yahoo.com

%br/
%br/
I see the Yahoo page as a giant bowl of link-soup.

Many of the links look different than the other links.

Also I see so many links, I consider the page to be user-unfriendly.

%br/
%br/
For links, all Hackternoon pages are very different than the Yahoo page.

Except for one banner link, all Hackternoon links look the same; they are made from blue text.

My intent is to tell you that they are obviously links.

Also all of my links behave identically when you hover over them.

Yahoo links do not offer consistent hover-behavior.


%br/
%br/
Next, notice where I place the links.

I try to keep them on the left-hand side of the page.

Yahoo places links all over the page in a way which reminds me of toppings on top of a rectangular pizza.

For entertainment, Yahoo wins.  For getting work done, Hackternoon wins.


%br/
%br/
%h3 Font
In a web-page, I want a dark font on top of a light background.

Black font on top of a white background is optimal.

If you look at Yahoo home-page notice that dark font on a light background is not a priority for them.

The next important attribute about font is size.

Any font smaller than 17px is hard to read.

Hackternoon uses mostly 17px font, Yahoo uses something smaller.

Additionally, I use a CSS property (line-height:22px) to add an additional 4px of space between each line.


%br/
%br/
Font style is also important.  Hackternoon uses sans-serif type which keeps the letters free of objects called serifs which serve only to "decorate" each letter.

Fonts with serifs are pretty when they are large but hard to read when they are small.

%br/
%br/
%h3 Forms
After fonts, the next UX-Design decision I made was to keep forms simple.

%br/
%br/
I design all forms on Hackternoon.com so they do not move or change shape while you are entering data.

A second design feature is that a form should have only one column of fields 
and that the label for each field is above the field.
And, I place the submit button right below the last field.

%br/
%br/
%h3 Layout
The next idea behind my UX-design is that I use layout elements to separate the links on the left from the Hackternoon content on the right.

I consider the Hackternoon content more important than the links so the shade of gray under the text is lighter than the gray on the left.  Dark text on lighter gray is easier to read and thus more important.


%br/
%br/
%h3 JavaScript
Hackternoon.com behaves fine with JavaScript turned off in your browser.  The list of hideous design decisions implemented JavaScript developers on large websites today is enormous.  I refuse to add any JavaScript to Hackternoon.com which may lessen your ability to gain value from the site.

%br/
%br/



