It is possible that the URL you followed has expired:

= confirm_email_url(:confirmation_token => @user.confirmation_token)

You probably need to attempt registration again using a new e-mail address.

We do it this way to prevent certain types of web attacks.

It's probably inconvenient for you.  Sorry.
