%pre
  You probably just bumped into a website malfunction.

  The URL you just followed does not match any new account.

  This probably our fault, not yours.

  Also it is possible that the URL you followed has expired.
  
  If that is the case,
  You need to attempt registration again using a new e-mail address.

  It's probably inconvenient for you.  Sorry.

%br/
