
@import "bourbon";
div#div4_top_logo {}

div#div4_lhs {@include linear-gradient(180deg,hsl(351, 0%, 83%) 0%, hsl(351, 0%, 93%) 50%, hsl(351, 0%, 83%) 100%);
	@include border-radius(15px 15px 15px 15px);
	padding: 10px;
	&li {
		border-bottom: 1px solid #B6B6B6;
		padding: 0px 2px 5px 2px;
		}}
div#div4_footer {padding-top: 2px; margin-top: 4px;}

.round_corner15px {border-radius: 15px 15px 15px 15px; padding-left: 15px; padding-right: 15px; padding-top: 6px;}

a {
  color: blue;
  &:visited {color: blue;}
  &:hover {
	color: black;background-color: white;
	@include box-shadow(0 0 2px 4px white);}
}

p {font-size: 17px;}

/* More SASS: */
div#div4_rhs {
  background-color: white; margin: 0em 1em 1em 1.5em;
  & li {margin-left:15px;}
}

body {color:black; font-size:17px; line-height:22px;}

.color_ccc {color:#CCCCCC;}
.color_ddd {color:#DDDDDD;}
.color_eee {color:#EEEEEE;}
.color_green44 {color:#004400;}

.background_color_ccc {background-color:#CCCCCC;}
.background_color_ddd {background-color:#DDDDDD;}
.background_color_eee {background-color:#EEEEEE;}
.background_color_white {background-color:white;}

p.notice {color:#004400; font-size:20px; font-weight:bold; background-color:#EEEEEE; padding-bottom: 4px;}
p.alert  {color:#AA0000; font-size:20px; font-weight:bold; background-color:#EEEEEE;}

/* some stuff ruemic added */
#a_warning{color: red;}
h3 {font-size: 1.2em;}
img {
	@include border-radius(15px 15px 15px 15px);
	margin: .5em 0;}
img.img_not_rounded {@include border-radius(0px);}

div#div4_rhs table #th_name {min-width:150px;}
div#div4_rhs table #th_description {min-width:250px;}
div#div4_rhs table #th_owner {min-width:100px;}
div#div4_rhs table #th_github {min-width:200px;}
div#div4_rhs table #th_ttag {min-width:150px;}
div#div4_rhs table #th_btag {min-width:150px;}
div#div4_rhs table #th_upd {min-width:150px;}

.margin_left0px {margin-left: 0px;}
.hidden {display: none;}
.shown_inline {display: inline;}
.shown_blocking {display: block;}

.pre_courier {
  font-weight: 800;
  font-family: monospace,"Courier New",Terminal;
  font-size: 18px;
  border: 1px solid black;
  border-right-color: white;
  background-color: white;
  white-space: pre;
  margin: 1em 0px;
  margin-left: 0px;
  padding-left: 9px;
  min-width: 800px;
  color: #004400;
}

.ul_type_circle {list-style-type: circle;}
.ul_type_disc {list-style-type: disc;}

.bash_class {
  & ul {list-style-type: disc;}
  & ul>li>ul {list-style-type: circle;}
}

.bold {font-weight:bold; }

.bashcmd {
  font-weight: 800;
  font-family: monospace,"Courier New",Terminal;
  font-size: 18px;
  background-color: white;
  color: #004400;
}
