// Place all the styles related to the tech_tips controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

pre {
  font-weight: 800;
  font-family: monospace,"Courier New",Terminal;
  font-size: 18px;
  border: 1px solid black;
  border-right-color: white;
  background-color: white;
  white-space: pre;
  margin: 1em 0px;
  margin-left: 0px;
  padding-left: 9px;
  min-width: 800px;
  color: #004400;
}

.wide1200px {max-width: 1200px;}