<% message.subject= "Hackternoon.com Confirmation Instructions" %>

<p>Welcome <%= @resource.email %>!</p>

<p>You can confirm your Hackternoon account through the link below:</p>

<p>
  <%= link_to(confirm_email_url(:confirmation_token => @resource.confirmation_token),
              confirm_email_url(:confirmation_token => @resource.confirmation_token)) %>
</p>
