<% message.subject= "Did you ask Hackternoon.com to change your password?" %>

<p>Hello <%= @resource.email %>!</p>

<p>Someone (hopefully you) wants to change your password at Hackternoon.com.  You can do this through the link below.</p>

<p><%= link_to edit_password_url(@resource, :reset_password_token => @resource.reset_password_token), edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>If you didn't request this, please ignore this email.</p>
<p>Your password changes after YOU access the link above and create a new one.</p>
